
.rsis-container {
    height: 50vh;
    width:100vw;
}

@media only screen and (max-width: 768px){
    .rsis-container {
        height: 50vh;
        width:100vw;
    }

    .rsis-image{
        width:100% !important;
        height: 100% !important;
    }
    
}